doctype
html
head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	title Tab menu style
	meta(name="viewport", content="width=device-width", initial-scale=1)
	link(rel="stylesheet", href="assets/css/style.css")

	body
		//- content
		.l-content
			nav
				h1 Tab menu style
				ul
					li
						a(href="#tab1") Tab1
					li
						a(href="#tab2") Tab2
					li
						a(href="#tab3") Tab3
			.content
				#tab1.tab Tab1 Contents
				#tab2.tab Tab2 Contents Tab2 Contents Tab2 Contents Tab2 Contents
				#tab3.tab Tab3 Contents Tab3 Contents Tab3 Contents Tab3 Contents Tab3 Contents Tab3 Contents
